.wrapper
  input(type='checkbox')#check-menu
  label(for='check-menu')
  .burger-line.first
  .burger-line.second
  .burger-line.third
  .burger-line.fourth
  nav.main-menu
    a.tick(href='/') Home
    a.tick(href='/content.html') Content
