doctype html
html(lang="en")
    head
        title content 
    body 
        header
            .container
                .header 
                    a(href="#") 
                        img.logo(src="/src/image/joystick.svg", alt="logotaip")

        section.game 
            .container
                .game-inner
                    ul.game__task 
                        li.game__item
                            .game__card
                                .game__card-title
                                    h2.card__heading.heading Game
                                .game__card-img
                                    img(src='/src/image/image-1.jpg' alt='image')
                                .game__card-description
                                    p.card__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nisi 
                                span.more more
                        li.game__item
                            .game__card
                                .game__card-title
                                    h2.card__heading.heading Game
                                .game__card-img
                                    img(src='/src/image/image-1.jpg' alt='image')
                                .game__card-description
                                    p.card__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nisi 
                                span.more more
                        li.game__item
                            .game__card
                                .game__card-title
                                    h2.card__heading.heading Game
                                .game__card-img
                                    img(src='/src/image/image-1.jpg' alt='image')
                                .game__card-description
                                    p.card__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nisi 
                                span.more more
                        li.game__item
                            .game__card
                                .game__card-title
                                    h2.card__heading.heading Game
                                .game__card-img
                                    img(src='/src/image/image-2.jpg' alt='image')
                                .game__card-description
                                    p.card__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nisi 
                                span.more more
                        li.game__item
                            .game__card
                                .game__card-title
                                    h2.card__heading.heading Game
                                .game__card-img
                                    img(src='/src/image/image-3.jpg' alt='image')
                                .game__card-description
                                    p.card__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nisi 
                                span.more more
                        li.game__item
                            .game__card
                                .game__card-title
                                    h2.card__heading.heading Game
                                .game__card-img
                                    img(src='/src/image/image-1.jpg' alt='image')
                                .game__card-description
                                    p.card__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nisi 
                                span.more more
                        li.game__item
                            .game__card
                                .game__card-title
                                    h2.card__heading.heading Game
                                .game__card-img
                                    img(src='/src/image/image-1.jpg' alt='image')
                                .game__card-description
                                    p.card__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nisi 
                                span.more more
                        li.game__item
                            .game__card
                                .game__card-title
                                    h2.card__heading.heading Game
                                .game__card-img
                                    img(src='/src/image/image-1.jpg' alt='image')
                                .game__card-description
                                    p.card__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nisi 
                                span.more more
                        li.game__item
                            .game__card
                                .game__card-title
                                    h2.card__heading.heading Game
                                .game__card-img
                                    img(src='/src/image/image-1.jpg' alt='image')
                                .game__card-description
                                    p.card__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nisi 
                                span.more more

        footer.mail 
            .container
                span.email 
                    a.footer__link(href='mailto:123546razil@gmail.com') 123546razil@gmail.com