doctype html
html(lang="en")
    head
        title work
    body 
        //-шапка
        header
            .container
                .header 
                    include modules/menu
                    a.sam(href='#')
                        img.logo(src="/src/image/joystick.svg", alt="logotaip")
        //-кнопка добавления файлов
        section.button
            input(type="checkbox")#btn-modal 
            label(for='btn-modal').btn Add items
            include modules/modal

        section.game 
            .container
                .game-inner
                    ul.game__task 
                        li.game__item
                            .game__card
                                .game__card-title
                                    h2.card__heading.heading Game
                                .game__card-img
                                    img(src='/src/image/image-1.jpg' alt='image')
                                .game__card-description
                                    p.card__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nisi 
                                span.more more
                        li.game__item
                            .game__card
                                .game__card-title
                                    h2.card__heading.heading Game
                                .game__card-img
                                    img(src='/src/image/image-1.jpg' alt='image')
                                .game__card-description
                                    p.card__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nisi 
                                span.more more
                        li.game__item
                            .game__card
                                .game__card-title
                                    h2.card__heading.heading Game
                                .game__card-img
                                    img(src='/src/image/image-1.jpg' alt='image')
                                .game__card-description
                                    p.card__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nisi 
                                span.more more
                        li.game__item
                            .game__card
                                .game__card-title
                                    h2.card__heading.heading Game
                                .game__card-img
                                    img(src='/src/image/image-2.jpg' alt='image')
                                .game__card-description
                                    p.card__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nisi 
                                span.more more
                        li.game__item
                            .game__card
                                .game__card-title
                                    h2.card__heading.heading Game
                                .game__card-img
                                    img(src='/src/image/image-3.jpg' alt='image')
                                .game__card-description
                                    p.card__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nisi 
                                span.more more
                        li.game__item
                            .game__card
                                .game__card-title
                                    h2.card__heading.heading Game
                                .game__card-img
                                    img(src='/src/image/image-1.jpg' alt='image')
                                .game__card-description
                                    p.card__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nisi 
                                span.more more
                        li.game__item
                            .game__card
                                .game__card-title
                                    h2.card__heading.heading Game
                                .game__card-img
                                    img(src='/src/image/image-1.jpg' alt='image')
                                .game__card-description
                                    p.card__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nisi 
                                span.more more
                        li.game__item
                            .game__card
                                .game__card-title
                                    h2.card__heading.heading Game
                                .game__card-img
                                    img(src='/src/image/image-1.jpg' alt='image')
                                .game__card-description
                                    p.card__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nisi 
                                span.more more
                        li.game__item
                            .game__card
                                .game__card-title
                                    h2.card__heading.heading Game
                                .game__card-img
                                    img(src='/src/image/image-1.jpg' alt='image')
                                .game__card-description
                                    p.card__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nisi 
                                span.more more

        //- подвал
        footer.mail 
            .container
                span.email 
                    a.footer__link.adress(href='mailto:123546razil@gmail.com') 123546razil@gmail.com