doctype html
html(lang="en")
    head
        title work
    body 
        header
           
            .container
                .header 
                    a(href="#") 
                        img.logo(src="/src/image/joystick.svg", alt="logotaip")
        section.button
            button.btn Add item
            include modules/modal


        footer.mail 
            .container
                span.email 
                    a.footer__link(href='mailto:123546razil@gmail.com') 123546razil@gmail.com
            