doctype html
html(lang="en")
    head
        title work
    body 
        //-шапка
        header
            .container
                .header 
                    include modules/menu
                    a.sam(href='#')
                        img.logo(src="/src/image/joystick.svg", alt="logotaip")
        //-кнопка добавления файлов
        section.button
            input(type="checkbox")#btn-modal 
            label(for='btn-modal').btn Add items
            include modules/modal

        //- подвал
        footer.mail 
            .container
                span.email 
                    a.footer__link.adress(href='mailto:123546razil@gmail.com') 123546razil@gmail.com
            